body {
  font-family: Arial, sans-serif;
  font-size: 17px;
}

div.bodywrapper {
  border-left: 1px solid #eee;
}

div.document {
  background-color: #fff;
}

div.related {
  background-color: #31859c;
  text-shadow: none;
}

div.related a {
  color: #fff;
}

div.body {
  max-width: 900px;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
  background-color: #cfe8e1;
}

div.sphinxsidebar {
  font-size: 0.8em;
}

div.sphinxsidebar h3, div.sphinxsidebar h4 {
  background-color: #cfe8e1;
  text-shadow: none;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
  text-shadow: none;
}

div.seealso {
  background-color: #fffedb;
  border: none;
}

div.viewcode-block:target {
  background-color: #fff9ef;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.classifier::before {
  font-weight: bold;
}

dd {
  margin-left: 15px;
}

dt.field-odd {
  background-color: #f1fdf9;
}

dt.field-even {
  background-color: #f1fdf9;
}

dl.field-list > dt {
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

dl.field-list > dd {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

dl.function {
  margin-bottom: 30px;
}

dl.function > dt, dl.class > dt, dl.method > dt {
  background-color: #f8f8f8;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-left: 2px solid #31859c;
  overflow: auto;
}

table.docutils {
  margin-bottom: 30px;
}

table.docutils td, table.docutils th {
  padding: 1px 8px 1px 5px;
  border-top: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
}

table.docutils tr:nth-child(2n+1) {
  background-color: #f0fbf8;
}

table.longtable tr.row-odd {
  background-color: #f0fbf8;
}

pre {
  font-size: 0.9rem;
}

code {
  font-size: 0.9rem;
}
